WECHAT_APPID=your_appid_here
WECHAT_APPSECRET=your_appsecret_here
WECHAT_AUTHOR=Pixhero
WECHAT_NEED_OPEN_COMMENT=1
WECHAT_ONLY_FANS_CAN_COMMENT=0
SUPERAIAPI_API_KEY=your_superaiapi_api_key_here
SUPERAIAPI_BASE_URL=https://superaiapi.top
